<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Templeate App</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>
<body>

    {{{body}}}

</body>
</html>