<form action="/users/login" method="post">
  <input type="text" placeholder="username" name="username">
  <br />
  <input type="password" name="password" placeholder="password">
  <br />
  <input type="submit" value="Login">
</form>